.book-information {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid;
  font-size: small;
}
.header-information {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  border: 1px solid;
}
.general-information {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  border: 1px solid;
}
.book-information__details {
  flex: 1;
  margin-right: 20px;
  border: 1px solid;
  padding: 10px;

  margin: 10px;
}
.image-information {
  padding: 10px;
  margin: 10px;
  border: 1px solid;
}
