.action-button {
  color: rgb(255, 255, 255);
  padding: 10px 25px;
  text-align: center;
  display: inline-block;
  font-size: 10px;
  margin: 4px;
  cursor: pointer;
  background-color: rgb(168, 12, 12);
}
